<section class="header" style="background-color: white; max-width: 300px; margin: 0 auto;">
    <div class="container">
        <div class="header_title">
            <h1 style="padding: 10px 0;">Tours of Herores</h1>
        </div>
        <div class="header_content d-flex mW-btn text-center">
            <div class="header_btn_dashboard ">
                <button style="max-width: 100px;" class="btn" routerLink="heroes-top">Dashboard</button>
            </div>
            <div class="header_btn_herores">
                <button style="max-width: 100px;" class="btn" routerLink="heroes-list">Heroes</button>
            </div>
        </div>
    </div>
</section>