/* You can add global styles to this file, and also import other style files */
.container{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}

.mW-btn{
    max-width: 200px;
}

.text-center{
    text-align: center;
    margin: 0 auto;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}